.books {
  width: 260px;
  height: 100px;
  border: 1px solid black;
  display: inline-block;
  margin: 10px;
}

.bgModal {
  position: fixed;
  top:0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0,0,0, .6);
}

.addModal {
  width: 30%;
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  gap:20px;
  margin: 200px auto;
  padding: 20px;
}
input {
  width: 200px;
  height: 40px;
}
.btns {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.searchBook {
  width: 300px;
  height: 100px;
  background-color: aqua;
}
